{% extends "base.html" %}
{% load on_favs %}


{% block page_title %}
    Content
{% endblock page_title %}
    {{content.title}}
{% block contents_list %}

<div class="-mt-5 container max-w-full h-75vh flex mb-20">
    <div class="h-full w-1/2 bg-center bg-cover" style="background-image:url({{content.first_photo}})"></div>
    <div class="h-full w-1/2 flex flex-wrap">
        {% for photo in content.get_next_four_photos %}
            <div style="background-image:url({{photo.file.url}})" class="w-1/2 h-auto bg-cover bg-center border-gray-700 border"></div>
        {% endfor %}
    </div>
</div>

<div class="container mx-auto flex justify-around pb-56">
    <div class="w-1/2">
        <div class="flex justify-between">
            <div class="mb-5">
                <h4 class="text-3xl font-medium mb-px">{{content.title}}</h4>
                <span class="text-gray-700 font-light">{{content.description}}</span>
            </div>
            <a href="{{content.user.get_absolute_url}}" class="flex flex-col items-center">
                {% include "mixins/user_avatar.html" with user=content.user %}
                <span class="mt-2 text-gray-500">{{content.user.nickname}}</span>
                <span class="mr-5 font-light">{{content.user.nationality}}</span>
            </a>
        </div>

        {% if user.is_authenticated %}
            {% on_favs content as on_favs_boolean %}
            {% if on_favs_boolean %}
                <a class="block mb-10 w-2/6 text-teal-600 font-bold" href="{% url 'wishlists:toggle-content' content.pk %}?action=remove">즐겨찾기에서 제거</a>
            {% else %}
                <a class="block mb-10 w-2/6 text-teal-600 font-bold" href="{% url 'wishlists:toggle-content' content.pk %}?action=add">즐겨찾기에 추가</a>
            {% endif %}
        {% else %}
            <div class="block mb-10 w-2/6 text-teal-600 font-bold">즐겨찾기를 하시려면 로그인을 해주세요</div>
        {% endif %}

        <br>
        <div>
            <b>TAGS</b> <i class="fas fa-tag"></i>
            {% load taggit_templatetags2_tags %}
            {% get_tags_for_object object as "tags" %}
            {% for tag in tags %}
            <a href="{% url 'contents:tagged_object_list' tag.name %}">{{tag.name}}</a>
            {% endfor %}
            &emsp;
            <a href="{% url 'contents:tag_cloud' %}"><span class="border border-gray-500 font-bold">TagCloud</span>
            </a>
        </div>



        <p class="flex border-section">
            <h4 class="font-medium text-lg mb-5">요리명</h4>
            {{content.dish}}
        </p>
        <p class="border-section">
            <h4 class="font-medium text-lg mb-5">한마디</h4>
            {{content.description}}
        </p>
        
        <p class="border-section">
            <h4 class="font-medium text-lg mb-5">요리법</h4>
            {{content.cuisine}}
        </p>
        
        <p class="border-section">
            <h4 class="font-medium text-lg mb-5">요리재료</h4>
            {{content.cooking_ingredients}}
        </p>

        <div class="border-section">
            <h4 class="font-medium text-lg mb-5">조리기구</h4>
            {% for a in content.cooking_utensils.all  %}
                <li class="mb-2">{{a}}</li>
            {% endfor %}
        </div>

        <div>댓글 작성</div>
            {% if user.is_authenticated %}
                <form action = "{% url 'reviews:create_review' content.id %}" method="POST" class="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" value="{{content.id}}" name="content"></input>
                    <input type="text" name="review"></input>
                    <button type="submit" class="btn bg-pink-500 text-white">리뷰 업로드</button>
                </form>            
            {% else %}
                <div>로그인이 필요합니다</div>
            {% endif %}


        <div class="mt-10">
            <h4 class="font-medium text-2xl mb-5">댓글</h4>

            <div class="mt-10">
                {% for review in content.reviews.all  %}
                    <div class="border-section">
                        <div class="mb-3 flex">
                            <div>
                                {% include "mixins/user_avatar.html" with user=review.user h_and_w='w-10 h-10' text='text-xl' %}
                            </div>
                            <div class="flex flex-col ml-5">
                                <span class="font-medium">{{review.user.nickname}}</span>
                                <span class="text-sm text-gray-500">{{review.created|date:'d F Y'}}</span>
                                {% if review.user.pk == user.pk %}
                                    <a href="{% url 'reviews:delete-review' content.pk review.pk %}"><span class="border border-gray-500 font-bold">삭제</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <p>{{review.review}}</p>

                        {% if review.user.pk == user.pk %}                                    
                            <form action = "{% url 'reviews:edit-review' content.pk review.pk %}" method="POST" class="" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="text" value={{review.review}} name="review"></input>
                                <button type="submit" class="btn bg-pink-500 text-white">수정</button>
                            </form>
                        {% endif %}

                    </div>
                {% endfor %}    
            </div>
        </div>
    </div>
    <div class="w-1/3">
        {% if content.user == user %}
            <a href="{% url 'contents:edit' content.pk %}" class="btn-link block">글 수정</a>
        {% endif %}
    </div>
</div>
{% endblock contents_list %}