{% extends "base.html" %}


{% block page_name %}
    Home
{% endblock page_name %}

{% block contents_list %}
    <div class="mt-2 container mx-auto">
        <div class = "flex flex-wrap -mx-40">
            {% for content in contents_group  %}
                {% include 'mixins/content_card.html' with content=content %}
            {% endfor %}
        </div>
        <div class="mx-3 mb-10 flex items-center justify-center mx-auto container">
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">
                <i class="fas fa-arrow-left fa-2x" style="color:rgb(24, 223, 156)"></i>
            </a>
        {% endif %}

        {% if page_obj.has_previous and page_obj.has_next %}
            <i class="fas fa-grip-lines-vertical px-5 fa-2x" style="color:rgb(98, 102, 101)"></i>
        {% endif %}

        {% if page_obj.has_next  %}
            <a href="?page={{page_obj.next_page_number}}">
                <i class="fas fa-arrow-right fa-2x" style="color:rgb(24, 223, 156)"></i>
            </a>
        {% endif %}

        </div>
    </div>
    


{% endblock contents_list %}