{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}

{% endblock search-bar %}

{% block contents_list %}

    <form method="get" action="{% url "contents:search" %}">
        {{form.as_p}}
        <button>Search</button>
    </form>

    <h3>Results</h3>

    {% for content in contents %}
    <h3>
        <a href="{% url "contents:detail" content.pk %}">
                {{content.title}} / {{content.dish}}
        </a>
    </h3>
    {% endfor %}

    <h3>

    {% if contents.has_previous %}
        <a href="?page={{contents.previous_page_number}}&{{parameters}}">이전</a>
    {% endif %}

    {% if contents.has_previous and contents.has_next %}
        |
    {% endif %}

    {% if contents.has_next  %}
        <a href="?page={{contents.next_page_number}}&{{parameters}}">다음</a>
    {% endif %}


    </h3>
{% endblock contents_list %} 