{% extends "base.html" %}

{% block page_title %}
    {{user_obj.nickname}}의 마이페이지
{% endblock page_title %}

{% block contents_list %}

    <div class=""min-h-75vh">
        <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
        {% include "mixins/user_avatar.html" with user=user_obj %}

        <div class="flex items-center">
            <span class="text-3xl mt-1">{{user_obj.nickname}}</span>
        </div>

        <span class="text-lg mb-5">{{user_obj.bio}}</span>

        <div>
            {% if user != user_obj %}
                {% if user in user_obj.followers.all %}
                    <a href="{% url 'users:follow' user_obj.id %}">UnFollow</a>
                {% else %}
                    <a href="{% url 'users:follow' user_obj.id %}">Follow</a>
                {% endif %}
            {% else %}
            <div>
                <div>내가 팔로우하는 유저 : </div>
                    {% for follow_people in user.followings.all%}
                        {{follow_people}},
                    {% endfor %}
                <div>나를 팔로우하는 유저 : </div>
                {% for follow_me in user.followers.all%}
                    {{follow_me}},
                {% endfor %}

                <div>
                    <strong> 팔로워 수: </strong> {{ user.followers.count }}
                    <strong> 내가 팔로우하는 유저수: </strong> {{ user.followings.count }}
                </div>
            </div>
            {% endif %}
        </div>
        
        {% if user == user_obj %}
            <a href="{% url 'users:update' %}" class="btn-link">프로필 수정</a>
        {% endif %}
    </div>
    {% if user_obj.contents.count > 0 %}
        <h3 class="mb-12 text-2xl text-center">{{user_obj.nickname}}의 게시글</h3>
        <div class="container mx-auto pb-10 ">
            <div class="flex flex-wrap -mx-40 mb-10">
                {% for content in user_obj.contents.all  %}
                    {% include 'mixins/content_card.html' with content=content %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    </div>
{% endblock contents_list %} 